body {
    font-family: 'Courier New', Courier, monospace;
    height: 100%;

    background-attachment: fixed, scroll;
    background-image: url("../img/bg-pieces-grey.png"), url("../img/bg-grey-tile.png");
    background-position: center bottom, 0 0;
    background-repeat: repeat-x, repeat;
    background-size: 306px 67.5px, 13.5px;
}

.container {
    margin: 50px auto;
    display: block;
    width: 1150px;
}

.section {
    width: 550px;
    display: inline-block;
}

.left{
    float: left;
    color: white;
    margin-right: 40px;
    text-align: center;
}

.instructions {
    margin: 20px 0 10px 0;
}

.ins1{
    border: 2px solid white;
    padding: 2px 7px;
}

.mode{
    margin: 20px auto;
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 2px 2px #999;
    text-align: center;
}

.game {
    width: 200px;
    height: 400px;

    /* background-image: url("../img/bg-pieces-grey.png"), url("../img/bg-grey-tile.png");
    background-position: center bottom, 0 0;
    background-repeat: repeat-x, repeat;
    background-size: 100%; */

    border: 10px solid white;
    box-shadow: 10px 10px 0 0 #42424280;
    position: relative;
    float: left;
}

.right {
    width: 85px;
    background: #fff;
    padding: 20px;
    box-shadow: 10px 10px 0 0 #42424280;
    position: relative;
    float: left;
    margin-left: 40px;
}

.next {
    width: 80px;
    height: 80px;
    background-color: #fff;
    border: 2px solid #e2e2e2;
    margin-right: 2px;
    position: relative;
    /* float: left;
    margin-left: 40px; */
}

.info {
    /* position: relative;
    float: left;
    margin-left: 40px; */
    margin-top: 20px;
}

.none,
.current,
.done {
    width: 20px;
    height: 20px;
    position: absolute;
    box-sizing: border-box;
}

.none {
    background: url(../img/bg-grey-tile.png), linear-gradient(#222, #222);
    background-blend-mode: exclusion;
}

.current {
    background: rgb(206, 232, 255);
    background: linear-gradient(125deg, rgba(206, 232, 255, 1) 0%, rgba(138, 207, 254, 1) 62%, rgba(0, 188, 226, 1) 100%);
    border: 1px solid #aaa;
}

.done {
    background: rgb(198, 198, 198);
    background: linear-gradient(125deg, rgba(198, 198, 198, 1) 0%, rgba(157, 157, 157, 1) 62%, rgba(107, 107, 107, 1) 100%);
    border: 1px solid #777777;
}

.bg-gray {
    
}

#logo {
    display: block;
    margin: 0 auto 30px auto;
}

#logoheader{
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 2px 2px #999;
    text-align: center;
}

#waiting{
    color: white;
    font-weight: bold;
    /* text-shadow: 1px 1px #999; */
    text-align: center;
    width: 180px;
    position: absolute;
    left: 550px;
    margin-top: 180px;
}

#local_over, #remote_over{
    font-size: 14px; 
    text-align: center;
}